* { outline: none !important } 
body { 
	font: 13px 'Segoe UI', 'DejaVu Sans', Helvetica, 'Trebuchet MS', Arial, sans-serif;
	font-weight: 100;
	line-height: 1.4em;
	background: #FDFDFF;
}
a {
	cursor: pointer;
}
hr {
	margin-bottom: 10px;
	margin-top: 10px;
}
.animate { 
	-webkit-transition:all .35s ease-out;
	-moz-transition-:all .35s ease-out;
	-o-transition:all .35s ease-out;
	transition:all .35s ease-out 
}
.nsel:not(.sel) {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.sel {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
	cursor: text;
}
.btn.sel {
	cursor: text !important;
}

.blur {
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-ms-filter: blur(2px);
	-o-filter: blur(2px);
	filter: blur(2px);
}
.pad {
	margin: 0 20px 10px 20px;
	position: relative;
}

/* -------------------------------------------- */
/* Buttons */
.btn.btn-default { 
	box-shadow: 0 1px 5px rgba(0,0,0,.07);
	border: 1px solid #E6E6E6;
}
.btn.btn-default:hover { 
	border: 1px solid #cbcbcb;
	box-shadow: 0 1px 5px rgba(0,0,0,.09);
	background: #fff 
}
.btn.btn-default:active { 
	-webkit-box-shadow: inset 0 1px 10px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 10px rgba(0,0,0,.1) 
}

/* -------------------------------------------- */
/* Intro */
.intro {
	text-align: center;
	margin: 100px auto;
}
.intro .btn-group {
	margin: 20px auto;
}
.extended-controls {
	display: none;
}
.load-samples {
	position: relative;
	overflow: hidden
}
.load-samples input {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 99;
	width: 100%;
	height: 100%;
}

/* -------------------------------------------- */
/* Library */
#modal .modal-dialog.library {
	width: 380px;
}
.sample-names {
	margin-bottom: 0;
}
.sample-names li {
	border-radius: 0 !important;
	cursor: pointer;
	border: none;
}
.sample-names li span {
	float: right;
	color: #eee
}
.sample-names li.selected, .sample-names li.loaded {
	background: rgba(0,0,0,0.03)
}
.sample-names li.selected span {
	color: #000
}
.sample-names li.loaded span {
	color: #20B100;
}
.sample-names li:hover {
	background: rgba(0,0,80,0.04)
}

/* -------------------------------------------- */
/* Message */
.background {
	display: none;
	position: fixed;
	z-index: 40;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.7)
}
.background .message {
	margin: 250px 0;
	text-align: center;
	color: #EEE
}

/* -------------------------------------------- */
/* Chromosomes-2-lists */
.chr {
	position: relative;
	margin-bottom: 7px 
}
.chr-name {
	text-transform: capitalize;
	line-height: 20px;
}
.chr-box { 
	cursor: pointer;
	position: relative;
	min-height: 20px;
	border-radius: 3px;
	background-color: #fff;
	background-repeat-X: no-repeat;
	background-size: 100% 100%;
	box-shadow: 0 0 0 1px #888, 0 0 8px rgba(0,0,0,0.3);
	box-sizing: border-box;
	padding-top: 15px;
}
.chr-box .helper {
	display: none;
	width: 160px;
	margin-left: -80px;
	font-size: 11px;
	text-align: center;
	background: rgba(0,0,0,0.7);
	color: #eee;
	position: absolute;
	top: -22px;
	height: 17px;
	border-radius: 3px;
}
.chr-box:hover {
	box-shadow: 0 0 0 1px #777, 0 0 12px rgba(0,0,0,0.3);
}
.chr-box:hover .helper {
	display: block;
}

/* Chromosomes-general */
.chr-line .chr {
	margin: 0 0.15% 0 0;
	float: left;
}
.chr-line .chr-name {
	position: absolute;
	left: 0;
	top: -13px;
	text-align: left;
	width: auto;
	line-height: 13px;
	border-radius: 8px;
	font-size: 11px;
}
.chr-line .chr-box {
}

/* -------------------------------------------- */
/* Samples. Heat-maps */
.hm-box {
	position: relative;
	border-radius: 0 0 3px 3px;
	background-size: 100% 100%;
	background-color: rgba(255, 255, 255, 0.8);
}
.hm-box .fn {
	font-size: 12px;
	line-height: 12px;
	height: 12px;
	position: relative;
	z-index: 10
}
.hm-box .fn:first-child {
	margin-top: -1px;
}
.hm-box:hover .fn {
	background: rgba(245,245,245,.8);
}
.hm-box .fn:hover {
	background: transparent !important;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	z-index: 15
}
.hm-box .fn > span {
	height: 16px;
	position: absolute;
	left: 0;
	top: -16px;
	background: rgba(245,245,245,.8);
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-radius: 0 3px 0 0;
	padding: 2px 4px;
	display: none 
}
.hm-box .fn:hover > span { 
	display: block;
}
.hm-box .hm {
	display: none;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
}
.chr-line {
	margin: 30px 0;
}
.chr-list {
	margin-top: 10px;
	margin-bottom: 30px;
}
.chr-line-names {
	position: absolute;
	top: 15px;
	left: 0;
	right: 2px;
}
.chr-line-names .fn {
	height: 36px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.chr-line-names .fn:last-child {
	border: none;
}
.chr-line-names:hover .fn {
	background: rgba(255, 255, 255, 0.4);
}
.chr-line-names .fn:hover {
	background: none;
}
.chr-line-names .fn span {
	font-size: 12px;
	padding: 2px 3px;
}
.chr-line-names .fn:hover span {
	opacity: 0.2
}

/* -------------------------------------------- */
#content {
	position: relative;;
	z-index: 20;
}

/* Panels */
.finder {
	min-width: 420px;
	position: absolute;
	right: 0; 
	top: 0
}
.check-block {
	float: right
}

@media (max-width:1140px) {
	.finder {
		min-width: 380px;
	}
	.clear {
		float: right;
	}
	.check-block {
		float: none;
		margin-top: 8px;
	}
	.newline-block {
		float: right
	}
}
@media (max-width:830px) {
	.finder {
		min-width: 40%;
	}
}

.zoom-c .dropdown-menu { 
	min-width: 80px;
	float: right;
	left: auto;
	right: 0;
}
.chr-btn {
	text-transform: capitalize;
}
.chr-btn .dropdown-menu {
	width: 310px;
	padding: 4px;
}
.chr-btn .dropdown-menu a {
	float: left;
	text-decoration: none;
	width: 50px;
	padding: 4px 0 4px 5px;
	font-size: 13px;
}
.chr-btn .dropdown-menu a:hover {
	border-radius: 3px;
	background: #eee;
}
.glyphicon.ll {
	margin-left: -9px;
}
.zoom-c {
	margin-left: 5px;
}


/* --------------------------- */
/* Show Alu, Line, Others && Compare */
.hm-box .common, .hm-box.differ,
.compare-differ .hm-box .all,
.compare-common .hm-box .all {
	display: none;
}

.compare-differ .hm-box .differ,
.compare-common .hm-box .common {
	display: block;
}

.visible-type-1 .t1,
.visible-type-2 .t2,
.visible-type-3 .t3 {
	display: block;
}

.visible .glyphicon {
	color: #ddd;
}

body:not(.compare-common):not(.compare-differ) .all .glyphicon,
.compare-differ .differ .glyphicon,
.compare-common .common .glyphicon,
.visible-type-1 [data-id="1"] .glyphicon,
.visible-type-2 [data-id="2"] .glyphicon,
.visible-type-3 [data-id="3"] .glyphicon {
	color: #000;
}
body:not(.compare-common):not(.compare-differ) .all.btn,
.compare-differ .differ.btn,
.compare-common .common.btn,
.visible-type-1 [data-id="1"].btn,
.visible-type-2 [data-id="2"].btn,
.visible-type-3 [data-id="3"].btn {
	box-shadow: inset 0 0 2px rgba(0,0,0,0.05);
	background: #F1F1F1;
}


/* --------------------------- */
/* Chromosome */
.cs {
	position: relative;
	overflow: visible;
	margin-top: 15px;
}
.cs .cs-box {
	border: 1px solid #515151;
	box-shadow: 0 0 12px rgba(0,0,0,0.15);
}
.visuale {
	height: 35px;
	margin: -2px 0 -3px 0;
}
.ch-zoom {
	overflow: hidden;
	border-left: 1px solid #222;
	border-right: 1px solid #222;
}
.ch-zoom-scroll {
	cursor: move;
}

.spl-file {
	position: relative;
	height: 12px;
	border-bottom: 1px dotted #eee;
}
.spl-file:hover {
	background: rgba(0,0,0,0.05)
}
.spl, .gene {
	position: absolute;
	line-height: 12px;
	top: 0px;
	font-size: 11px;
	font-family: monospace;
	font-weight: 100;
}
.spl > i {
	display: block;
	float: left;
	width: 3px;
	height: 10px;
	margin: 1px 5px 1px 0;
}
.spl > a {
	text-decoration: none;
	display: none;
	cursor: pointer;
}
.spl > a:hover {
	border-bottom: 1px dotted #337ab7;
}
.spl.t1 > i {
	background: rgba(170, 0, 0, 0.4);
}
.spl.t2 > i {
	background: rgba(0, 170, 0, 0.4);
}
.spl.t3 > i {
	background: rgba(0, 0, 170, 0.4);
}
.det-1 .spl > a {
	display: inline-block
}


#range {
	z-index: 45;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	cursor: text
}
.lh,
.rh {
	position: absolute;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.45);
	z-index: 35
}
.lh {
	border-right: 1px solid #000;
	border-radius: 4px 0 0 4px;
	left: -1px;
}
.rh {
	border-left: 1px solid #000;
	border-radius: 0 3px 2px 0;
	right: 0px;
}
.xh {
	position: absolute;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer
}
#cs-xh-F {
	cursor: text
}
#sel-box {
	position: absolute;
	z-index: 55;
	bottom: -2px;
	top: -2px;
	display: none;
	border: 1px solid rgba(0, 115, 20, 0.5);
	background: rgba(0, 115, 20, 0.3)
}
#genes {
	min-height: 21px;
	position: relative;
}
#genes .bx {
	position: absolute;
	height: 13px;
	font-size: 11px;
	font-family: monospace;
	font-weight: 100;
}
#genes .bx i {
	position: relative;
	float: left;
	margin: 3px 7px 0px 0;
	background: #eee;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	height: 10px;
}
#genes .bx a {
	text-decoration: none;
}
#genes .bx.exon {
	height: 10px;
	background: rgba(0, 10, 200, 0.5);
}
#genes .bx.gene {
	background: rgba(0, 0, 0, 0.3);
	width: 2px;
	height: 15px;
	top: 3px;
}
#genes .bx.trsk {
	background: #aaa;
	height: 7px;
}
#bindlevel {
	position: relative;
	height: 50px;
	background: #eee
}
#modal .modal-dialog {
	width: 500px;
}
#modal .tree-dialog {
	width: 650px;
}
#modal pre {
	border: none;
	margin-bottom: 0;
}
.fixed-nav {
	padding: 0 20px;
}
.fix .fixed-nav {
	padding: 10px 20px 0 20px;
	top: 0px;
	width: 100%;
	position: fixed;
	z-index: 50;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
	background: #FFF;
}
/* --------------------------- */














.navigator{
	position: relative;
	width: 100%;
	height: 60px;
}

.quick_jump {
	position: relative;
	display: inline-block;
	top: 5px;
		height: 40px;
	margin-left: 10px;
	font-size: 30px;
	line-height: 40px;
}

.quick_jump input {
	width: 200px;
	height: 30px;
	font-size: 15px;
	line-height: 30px;
	border:none;
	background: transparent;
}

.add_file, .but{
		position: relative;
	display: inline-block;
	margin-top: 5px;
	padding-top: 5px;
	margin-left: 15px;
		cursor: pointer;
		width: 40px;
		height: 40px;
	font-size: 28px;
	text-align: center;
	vertical-align: middle;
}

.but:hover{
	border: 1px solid #cbcbcb;
	box-shadow: 0 1px 5px rgba(0,0,0,.09);
	border-radius: 3px;
}

.add_file{
	margin-right: 10px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	display: inline-block;
	cursor: pointer;
	overflow: hidden;
	width: 40px;
	height: 40px;
	background: url('../images/add_file.png') center no-repeat;
	background-size: 40px 40px;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
	border: 1px solid #cbcbcb;
	box-shadow: 0 1px 5px rgba(0,0,0,.09);
	border-radius: 3px;
}
/* position list */

select {
   background: transparent;
   border: none;
   font-size: 15px;
   line-height: 100%;
}

input[type=checkbox]{
	width: 15px;
	height: 15px;
	visibility: hidden;
}


input[type=checkbox] + label{
	height:20px;
	position: relative;
	display: inline-block;
	background-position: left;
	cursor:pointer;
	font-size: 15px;
	margin-left: 5px;
}

.check_box {
	padding-left: 20px;
	background: transparent;
}

.check_box:hover {
	color: #a2cac2;
	background: url('../images/check_hover.png') 3px no-repeat;
	background-size: 14px 14px;
}

input[type=checkbox]:checked + label{
	background: url('../images/check.png') 3px no-repeat;
	background-size: 14px 14px;
}

/* General map */
.general_map {
	position: relative;
	display: block;
	margin: auto;
}

.chr_list{
	position: relative;
	width: 1150px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.map{
	position: absolute;
	top: 250px;
	width: 1150px;
	margin: auto;
}

.map_name{
	cursor: pointer;
	font-size: 13px;
	fill: #585858;
}

.map_name:hover {
	fill: #000;
}

/* Pop up table */
.pop_up {
	position: absolute;
	display: inline-block;
	background: #000;
	color: #fff;
	opacity: 0.5;
	line-height: 120%
	z-index: 1000;
	padding: 3px;
}

.screen_blur {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.3;
	z-index: 999;
}

/* Make group */

.split_group {
	width: 190px;
	height: 160px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #000;
	line-height: 150%;
	background: #fff;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	   	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}

.group_move {
	position: relative;
	width: 50px;
	margin: auto;
	cursor: pointer;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	line-height: 150%;
	border: 1px solid;
	border-radius: 3px;
}

.group_move:hover {
	color: #a2cac2;
}

.gene_name {
	position: absolute;
	height: 20px;
	font-size: 15px;
	text-align: center;
	background: black;
	left: 1500px;
	top: 20px;
	opacity: 0.6;
	z-index: 1000;
}


/* Group compare */
.split_group {
	position: absolute;
	display: inline-block;
	left: 50%;
	margin-left: -300px;
	width: 600px;
	top: 20%;
	height: 230px;
	background: #fff;
	border: 1px solid;
	font-size: 30px;
	line-height: 120%;
	padding: 10px;
	z-index: 1000;
	border-radius: 5px;
}

.group_content {
	position: relative;
	display:block;
	width: 100%;
	height: 100%;
	text-align: center;
	margin-top: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #000;
	line-height: 150%;
	background: #fff;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	   	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}

.group_wrap {
	position: absolute;
	top: 20px;
	font-size: 20px;
	text-align: center;
}

.status {
	width: 150px;
	height: 25px;
	background: url('./loading.gif') left bottom no-repeat;
	background-size: 150px 10px;
	text-align: center;
	visibility: hidden;
}
