* {
	outline: none !important
}

body { 
	font: 13px 'Segoe UI', 'DejaVu Sans', Helvetica, 'Trebuchet MS', Arial, sans-serif;
	font-weight: 100;
	line-height: 1.4em;
	background: #FDFDFF;
}
a {
	cursor: pointer;
}
hr {
	margin-bottom: 10px;
	margin-top: 10px;
}
.animate { 
	-webkit-transition:all .35s ease-out;
	-moz-transition-:all .35s ease-out;
	-o-transition:all .35s ease-out;
	transition:all .35s ease-out 
}
.nsel:not(.sel) {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.sel {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
	cursor: text;
}
.btn.sel {
	cursor: text !important;
}

.blur {
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-ms-filter: blur(2px);
	-o-filter: blur(2px);
	filter: blur(2px);
}
.contrast {
	-webkit-filter: contrast(150%);
	-moz-filter: contrast(150%);
	-ms-filter: contrast(150%);
	-o-filter: contrast(150%);
	filter: contrast(150%);
}
.grayscale {
	-webkit-filter: grayscale(50%);
	-moz-filter: grayscale(50%);
	-ms-filter: grayscale(50%);
	-o-filter: grayscale(50%);
	filter: grayscale(50%);
}
.pad {
	margin: 0 20px 10px 20px;
	position: relative;
}

/* -------------------------------------------- */
/* Buttons */
.btn.btn-default { 
	box-shadow: 0 1px 5px rgba(0,0,0,.07);
	border: 1px solid #E6E6E6;
}
.btn.btn-default:hover { 
	border: 1px solid #cbcbcb;
	box-shadow: 0 1px 5px rgba(0,0,0,.09);
	background: #fff 
}
.btn.btn-default:active { 
	-webkit-box-shadow: inset 0 1px 10px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 10px rgba(0,0,0,.1) 
}

/* -------------------------------------------- */
/* Intro */
.intro {
	text-align: center;
	margin: 100px auto;
}
.intro .btn-group {
	margin: 20px auto;
}
.extended-controls {
	display: none;
}
.load-samples {
	position: relative;
	overflow: hidden
}
.load-samples input {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 99;
	width: 100%;
	height: 100%;
}

/* -------------------------------------------- */
/* Library */
#modal .modal-dialog.library {
	width: 380px;
}
.sample-names {
	margin-bottom: 0;
}
.sample-names li {
	border-radius: 0 !important;
	cursor: pointer;
	border: none;
}
.sample-names li span {
	float: right;
	color: #eee
}
.sample-names li.selected, .sample-names li.loaded {
	background: rgba(0,0,0,0.03)
}
.sample-names li.selected span {
	color: #000
}
.sample-names li.loaded span {
	color: #20B100;
}
.sample-names li:hover {
	background: rgba(0,0,80,0.04)
}

/* -------------------------------------------- */
/* Message */
.background {
	display: none;
	position: fixed;
	z-index: 40;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.7)
}
.background .message {
	margin: 250px 0;
	text-align: center;
	color: #EEE
}

/* -------------------------------------------- */
/* Chromosomes-2-lists */
.chr {
	position: relative;
	margin-bottom: 7px 
}
.chr-name {
	text-transform: capitalize;
	line-height: 20px;
}
.chr-box { 
	cursor: pointer;
	position: relative;
	min-height: 20px;
	border-radius: 3px;
	background-color: #fff;
	background-repeat-X: no-repeat;
	background-size: 100% 100%;
	box-shadow: 0 0 0 1px #888, 0 0 8px rgba(0,0,0,0.3);
	box-sizing: border-box;
	padding-top: 20px;
}
.chr-box .helper {
	display: none;
	width: 160px;
	margin-left: -80px;
	font-size: 11px;
	text-align: center;
	background: rgba(0,0,0,0.7);
	color: #eee;
	position: absolute;
	top: -22px;
	height: 17px;
	border-radius: 3px;
}
.chr-box:hover {
	box-shadow: 0 0 0 1px #777, 0 0 12px rgba(0,0,0,0.3);
}
.chr-box:hover .helper {
	display: block;
}
#hovrline {
	position: absolute;
	top:20px;
	bottom:0px;
	z-index: 10;
	width: 2px;
	background: rgba(0,0,0,.5);
	display: none;
}

/* Chromosomes-general */
.chr-line .chr {
	margin: 0 0.15% 0 0;
	float: left;
}
.chr-line .chr-name {
	position: absolute;
	left: 0;
	top: -13px;
	text-align: left;
	width: auto;
	line-height: 13px;
	border-radius: 8px;
	font-size: 11px;
}
.chr-line .chr-box {
}

/* -------------------------------------------- */
/* Samples. Heat-maps */
.hm-box {
	position: relative;
	border-radius: 0 0 3px 3px;
	background-size: 100% 100%;
	background-color: rgba(255, 255, 255, 0.8);
}
.hm-box .fn {
	font-size: 12px;
	line-height: 12px;
	height: 12px;
	position: relative;
	z-index: 10
}
.hm-box .fn:first-child {
	margin-top: -1px;
}
.hm-box:hover .fn {
	background: rgba(245,245,245,.8);
}
.hm-box .fn:hover {
	background: transparent !important;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	z-index: 15
}
.hm-box .fn > span {
	height: 16px;
	position: absolute;
	left: 0;
	top: -16px;
	background: rgba(245,245,245,.8);
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-radius: 0 3px 0 0;
	padding: 2px 4px;
	display: none 
}
.hm-box .fn:hover > span { 
	display: block;
}
.hm-box .hm {
	display: none;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
}
.chr-line {
	margin: 30px 0;
}
.chr-list {
	margin-top: 10px;
	margin-bottom: 30px;
}
.chr-line-names {
	position: absolute;
	top: 20px;
	left: 0;
	right: 2px;
}
.chr-line-names .fn {
	height: 36px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.chr-line-names .fn:last-child {
	border: none;
}
.chr-line-names:hover .fn {
	background: rgba(255, 255, 255, 0.4);
}
.chr-line-names .fn:hover {
	background: none;
}
.chr-line-names .fn span {
	font-size: 12px;
	padding: 2px 3px;
}
.chr-line-names .fn:hover span {
	opacity: 0.2
}

.g-expand {
	position: absolute;
    right: -1px;
    left: -1px;
    top: 85px;
	background: #FAECFF;
    text-align: center;
    border: 1px solid #F5DAFF;
    z-index: 20;
    cursor: pointer;
    cursor: row-resize;
    min-height: 9px;
}
.gray.g-expand {
	background: #eee;
	border-color: #ddd;
}
.g-expand .rescale {
	display: block;
	margin: 3px auto;
	width: 7px;
	height: 1px;
	position: relative;
	background: #888;
}
.g-expand .rescale:after,
.g-expand .rescale:before {
	content: '';
	position: absolute;
	left: 0;
	width: 7px;
	top: -2px;
	background: #888;
    height: 1px;
}
.g-expand .rescale:before {
	top:2px;
}

/* -------------------------------------------- */
#content {
	position: relative;
	z-index: 20;
}
#content.blur {
	overflow: hidden;
}
/* Panels */
.check-block {
	float: right
}
#position {
	width: 190px;
}
.finder {
	min-width: 420px;
	position: absolute;
	right: 0; 
	top: 0;
	z-index: 105;
}
#helper {
	opacity: 0;
    position: absolute;
    top: 38px;
    background: #fff;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 2px 25px rgba(0,0,0,0.2);
}
#helper .f-action {
	padding: 2px 10px;
	border-bottom: 1px dashed #eee;
}
#helper .helper-desc {
	padding: 5px 10px;
}
#helper .helper-desc kbd {
    padding: 1px 4px;
    margin: -1px 0;
    background-color: #A5A5A5;
	box-shadow: none;
	float: right;
}
#helper .helper-desc p {
	margin: 4px 0;
}
#helper .f-action:first-child {
	border-radius: 5px 5px 0 0;
}
#helper .f-action:last-child {
	border-radius: 0 0 5px 5px;
	border-bottom: none;
}
#helper .f-action.sel {
	cursor: pointer;
	background: #F0EFFF;
}
#helper .f-action h5 {
	margin: 7px 0 3px 0;
	color: #222;
}
#helper .f-action p {
	margin-bottom: 5px;
	color: #B7B7B7;
}
@media (max-width:1140px) {
	.finder {
		min-width: 380px;
	}
	.clear {
		float: right;
	}
	.check-block {
		float: none;
		margin-top: 8px;
	}
	.newline-block {
		float: right
	}
}
@media (max-width:830px) {
	.finder {
		min-width: 40%;
	}
}

.zoom-c .dropdown-menu { 
	min-width: 80px;
	float: right;
	left: auto;
	right: 0;
}
.chr-btn {
	text-transform: capitalize;
}
.chr-btn .dropdown-menu {
	width: 310px;
	padding: 4px;
}
.chr-btn .dropdown-menu a {
	float: left;
	text-decoration: none;
	width: 50px;
	padding: 4px 0 4px 5px;
	font-size: 13px;
}
.chr-btn .dropdown-menu a:hover {
	border-radius: 3px;
	background: #eee;
}
.glyphicon.ll {
	margin-left: -9px;
}
.zoom-c {
	margin-left: 5px;
}


/* --------------------------- */
/* Show Alu, Line, Others && Compare */
.hm-box .common, .hm-box.differ,
.compare-differ .hm-box .all,
.compare-common .hm-box .all {
	display: none;
}

.compare-differ .hm-box .differ,
.compare-common .hm-box .common {
	display: block;
}

.visible-type-1 .t1,
.visible-type-2 .t2,
.visible-type-3 .t3 {
	display: block;
}

.visible .glyphicon {
	color: #ddd;
}

body:not(.compare-common):not(.compare-differ) .all .glyphicon,
.compare-differ .differ .glyphicon,
.compare-common .common .glyphicon,
.visible-type-1 [data-id="1"] .glyphicon,
.visible-type-2 [data-id="2"] .glyphicon,
.visible-type-3 [data-id="3"] .glyphicon {
	color: #000;
}
body:not(.compare-common):not(.compare-differ) .all.btn,
.compare-differ .differ.btn,
.compare-common .common.btn,
.visible-type-1 [data-id="1"].btn,
.visible-type-2 [data-id="2"].btn,
.visible-type-3 [data-id="3"].btn {
	box-shadow: inset 0 0 2px rgba(0,0,0,0.05);
	background: #F1F1F1;
}

.spl { opacity: 0.1 }
.visible-type-1 .spl.t1,
.visible-type-2 .spl.t2,
.visible-type-3 .spl.t3 { opacity: 1 }

.compare-differ .spl.comp-common { opacity: 0.1 }
.compare-common .spl.comp-differ { opacity: 0.1 }

.comp-common {}
.comp-differ {}


/* --------------------------- */
/* Chromosome */
.cs {
	position: relative;
	overflow: visible;
	margin-top: 15px;
}
.cs .cs-box {
	border: 1px solid #515151;
	box-shadow: 0 0 12px rgba(0,0,0,0.15);
}
.visuale {
	height: 35px;
	margin: -2px 0 -3px 0;
}
.ch-zoom {
	position: relative;
	overflow: hidden;
	border-left: 1px solid #222;
	border-right: 1px solid #222;
}
.ch-zoom-scroll {
}

.spl-file {
	position: relative;
	height: 12px;
	border-bottom: 1px dotted #eee;
}
.spl-file:hover {
	background: rgba(0,0,0,0.05)
}
.spl, .gene {
	position: absolute;
	line-height: 12px;
	top: 0px;
	font-size: 11px;
	font-family: monospace;
	font-weight: 100;
}
.spl > i {
	display: block;
	float: left;
	width: 3px;
	height: 10px;
	margin: 1px 5px 1px 0;
}
.spl > a {
	text-decoration: none;
	cursor: pointer;
}
.spl > a:hover {
	border-bottom: 1px dotted #337ab7;
}
.spl.t1 > i {
	background: rgba(0, 170, 0, 0.4);
}
.spl.t2 > i {
	background: rgba(170, 0, 0, 0.4);
}
.spl.t3 > i {
	background: rgba(0, 0, 170, 0.4);
}
.det-1 .spl > a {
	display: inline-block
}


#range {
	z-index: 45;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	cursor: text
}
.lh,
.rh {
	position: absolute;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.25);
	z-index: 35
}
.lh {
	border-radius: 4px 0 0 4px;
	left: -1px;
}
.rh {
	border-radius: 0 3px 2px 0;
	right: 0px;
}
.xh {
	position: absolute;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer
}
#cs-xh-F {
	cursor: text
}
#sel-box {
	position: absolute;
	z-index: 55;
	bottom: -2px;
	top: -2px;
	display: none;
	border: 1px solid rgba(0, 115, 20, 0.5);
	background: rgba(0, 115, 20, 0.3)
}
#bases {
    margin-top: 3px;
    overflow: hidden;
	text-align: center;
    height: 12px;
    font-size: 11px;
    line-height: 13px;
    font-weight: bold;
    font-family: monospace;
    width: 300%;
}
#bases span {
	height: 12px;
	float: left;
}
span.bp {
	width: 10%;
	float: left;
}
span.bp.A { background: rgba(97, 230, 0, 0.7); }
span.bp.T { background: rgba(255, 48, 0, 0.7); }
span.bp.G { background: rgba(238, 255, 0, 0.7); }
span.bp.C { background: rgba(0, 52, 255, 0.7); }
span.bp.e.A { background: rgba(97, 230, 0, 0.4); }
span.bp.e.T { background: rgba(255, 48, 0, 0.4); }
span.bp.e.G { background: rgba(238, 255, 0, 0.4); }
span.bp.e.C { background: rgba(0, 52, 255, 0.4); }

#z-area {
	display: none;
	position: absolute;
	border: 1px dashed #f00;
	top: 0;
    bottom: 0;
    z-index: 30;
    background: rgba(145, 0, 255, 0.04);
}
#jump-to {
	display: none;
	z-index: 35;
	position: absolute;
    background: #FFF;
    padding: 7px;
    top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 174px;
    text-align: center;
    margin-left: -87px;
}
#jump-to .btn {
	padding: 3px 5px;
    font-size: 11px
}

#genes {
	overflow: hidden;
	min-height: 20px;
	position: relative;
}
#genes .bx {
	position: absolute;
	height: 13px;
	font-size: 11px;
	font-family: monospace;
	font-weight: 100;
    overflow: hidden;
}
#genes .bx .xt {
	height: 4px; 
	z-index: 15;
	position: absolute;
	background: #FFF;
}
#genes .bx .xt.c1 { left:  0; top:0px; }
#genes .bx .xt.c2 { right: -1px; top:0px; }
#genes .bx .xt.c3 { right: -1px; bottom:0; }
#genes .bx .xt.c4 { left:  0; bottom:0; }
#genes .zoomplease {
	text-align: center;
    line-height: 28px;
    color: #999;
}

#genes .bx i {
	position: relative;
	float: left;
	margin: 3px 7px 0px 0;
	background-color: rgba(89, 0, 255, 0.06);
	height: 10px;
	box-sizing: content-box;
}
#genes .bx.bordered i {
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.dirR i {
	background-repeat: repeat-x;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAQAAAAnOwc2AAAAXUlEQVQI12O4xACETJeCLvmDWWAIoYQuPbj041IwqiDDpcBLby99hAkzXJK6JAmEApdyL/2+9OFS6CWxSxIMQBWvgfDlpWeX/lz6D5R4fekuDkGs2rFahNNJaI4HAHJZddtulkERAAAAAElFTkSuQmCC);
}
.dirL i {
	background-repeat: repeat-x;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAQAAAAnOwc2AAAAXUlEQVQI12O4xACH/peCLjGBWAih4Es/Lj24JIQsGHzp46W3lwIhPIZLEpfELoVe+nDp96XcSwKXJIFQiuHS3UuvgQL/L/259OzSSyD79aW3OASxasdqER4noTgeAG/1ddukKtMQAAAAAElFTkSuQmCC);
}


#genes .bx e {
	color: #777;
	text-decoration: none;
}
#genes .bx.exon {
	height: 10px;
	background: rgba(27, 0, 154, 0.5);
}
#genes .bx.gene {
    background: rgba(0, 0, 0, 0.1);
    width: 2px;
    height: 21px;
    top: 3px;
    border-radius: 2px;
}
#genes .placeholder {
	position: absolute;
	width: 100%;
	height: 15px;
	top: 2px;
    background-size: 100%;
}
#genes .bx.trsk {
	background-color: rgba(89, 0, 255, 0.06);
	height: 10px;
}
#bind-graph {
	position: relative;
	height: 100px;
}
#bind-panel {
	text-shadow: 0 0 1px #FFF, 0 0 2px #FFF;
    position: absolute;
    top: 44px;
    left: 0;
    padding: 5px;
    font-size: 11px;
    line-height: 15px;
}
#bind-panel .round {
	float: left;
	width: 10px;
	height: 10px;
	margin: 2px 5px 2px 0;
	border-radius: 5px;
}
#bind-panel a:hover {
	text-decoration: none;
	border-bottom: 1px dotted #337ab7
}
#bind-graph .blevel {
	position: absolute;
}

.bl-hide0 #b-gr0,
.bl-hide1 #b-gr1,
.bl-hide2 #b-gr2,
.bl-hide3 #b-gr3,
.bl-hide4 #b-gr4,
.bl-hide5 #b-gr5 {
	display: none
}

.bl-hide0 .b-sw0 a,
.bl-hide1 .b-sw1 a,
.bl-hide2 .b-sw2 a,
.bl-hide3 .b-sw3 a,
.bl-hide4 .b-sw4 a,
.bl-hide5 .b-sw5 a {
	color: #888
}

.bl-hide0 .b-sw0 span,
.bl-hide1 .b-sw1 span,
.bl-hide2 .b-sw2 span,
.bl-hide3 .b-sw3 span,
.bl-hide4 .b-sw4 span,
.bl-hide5 .b-sw5 span {
	background-color: #fff !important;
	border: 1px solid #555;
}



#samples {
	position: relative;
	min-height: 100px;
}
.rules {
	width: 200%;
	position: relative;
	height: 22px;
	background: #FFF;
	overflow: hidden;
	cursor: ew-resize;
    cursor: -webkit-grab;
}
.rules:active {
    cursor: -webkit-grabbing;
}
.rule {
	height: 22px;
	float: left;
	border-top: 1px solid #999;
	background: #FFF;
}
.rule:nth-child(even) {
	background: #F1F1F1;
}
.rule .bp {
	border-left: 1px solid #999;
	box-sizing: border-box;
	height: 14px;
	padding: 0 3px;
	line-height: 13px;
	font-size: 11px;
	font-family: monospace
}
.rule .bp span {
	padding-right: 3px;
}
.rule .r-sub {
	background: #888;
	height: 8px;
}
.rule .r-sub > i {
	float: left;
	display: block;
	width: 10%;
	height: 8px;
}
.rule .r-sub > i:nth-child(even) {
	background: #aaa;
}
#modal .modal-content {
	box-shadow: 0 5px 75px rgba(0,0,0,.4);
}
#modal .modal-dialog {
	width: 500px;
    margin: 55px auto;
}
#modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .15s ease-out;
    -o-transition: -o-transform .15s ease-out;
    transition: transform .15s ease-out;
}
#modal pre {
	border: none;
	margin-bottom: 0;
}
.fixed-nav {
	padding: 0 20px;
}
.fix .fixed-nav {
	padding: 10px 20px 0 20px;
	top: 0px;
	width: 100%;
	position: fixed;
	z-index: 50;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
	background: #FFF;
}

.seg {
	float: left;
	height: 20px;
	background: #eee;
	border-right: 1px solid #000;
}

/* Tree & Compare */
#modal .compare .modal-header {
	display: none;
}
.t-visual {
	margin: 20px;
	position: relative;
}
.t-text {
	margin: 20px;
}
.t-visual #tree {
	position: relative;
	left: 5px;
	z-index: 15;
}
.t-visual #tree-svg {
	position: absolute;
	z-index: 20;
	top: 0;
	left: 0px;
}
.t-box {
    background: rgba(0,0,90,0.02);
    padding: 5px 5px 5px 20px;
    padding: 0px 0px 0px 45px;
    border: 0px solid rgba(0,0,0,0.05);
    margin: 0px;
    border-radius: 3px;
    position: relative;
    overflow: hidden
}
.t-box i {
	position: absolute;
	top: 50%;
	left: 2px;
	font-size: 10px;
	line-height: 12px;
}
.t-box span {
	display: block;
    padding: 2px 5px;
    margin: 3px 0 3px -5px;
    height: 20px;
    float: left;
    background: #FFF;
    border-radius: 3px;
    border: 1px solid #C1C1C1;
    line-height: 16px;
}
.gpr {
	margin: 15px;
}
.gpr h4 {
	text-align: center;
}
.cpr-lists select {
	padding: 0;
	height: 250px;
}
.cpr-lists select option {
	padding: 2px 6px;
}
.cpr-lists .col-md-2 {
	padding: 0;
}
.cpr-lists .col-md-2 .btn-group-vertical {
	display: block;
}
.comparision .tOff { display: none; }
.comparision.on { text-shadow: 0 0 3px rgba(255,0,0,0.3); }
.comparision.on .tOff { color: #700; display: inline-block; }
.comparision.on .tOn { display: none; }
.comparision.on .glyphicon { color: #e00; }




