* { outline: none !important } 
body { 
	font: 13px 'Segoe UI', 'DejaVu Sans', Helvetica, 'Trebuchet MS', Arial, sans-serif;
	font-weight: 100;
	line-height: 1.4em;
	background: #fff;
}
hr {
	margin-bottom: 5px;
	margin-top: 5px;
}
.animate { 
	-webkit-transition:all .35s ease-out;
	-moz-transition-:all .35s ease-out;
	-o-transition:all .35s ease-out;
	transition:all .35s ease-out 
}
.nsel:not(.sel) {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}
.sel {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto; 
	cursor: text;
}
.blur {
 	-webkit-filter: blur(3px);
 	-moz-filter: blur(3px);
 	-ms-filter: blur(3px);
 	-o-filter: blur(3px);
 	filter: blur(3px);
 }
/* Buttons */
.btn.btn-default { 
	border: 1px solid #E6E6E6;
	box-shadow: 0 1px 5px rgba(0,0,0,.07);
}
.btn.btn-default:hover { 
	border: 1px solid #cbcbcb;
	box-shadow: 0 1px 5px rgba(0,0,0,.09);
	background: #fff 
}
.btn.btn-default:active { 
	-webkit-box-shadow: inset 0 1px 10px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 10px rgba(0,0,0,.1) 
}

#content {
	position: relative;;
	z-index: 20;
	margin-bottom: 50px;
}
#find {
	min-width: 420px;
	margin-right: 10px;
}
#samples-bar, #onechrs-bar {
	margin-bottom: 10px;
	margin-top: 10px;
}
#onechrs-bar {
	display: none;
}
.page { 
	margin-top: 10px 
}
.btn-group {
	margin-right: 5px;
	margin-top: 10px;
}
.selecter {
	display: block;
	width: 1100px;
	margin: auto;
}

.selecter > * {
	display: inline-block;
}
.chr-list, .chr-line {
	padding-top: 20px;
}
.controls {
	padding: 10px 0;
}
.controls .disabled {
	color: #000;
	font-weight: bold;
}
.controls .zoom-c .cnt {
	font-family: monospace;
}
.glyphicon.ll {
	margin-left: -9px;
}

.type.glyphicon , .mode.glyphicon {
	cursor: default;
	color: grey;	
}

.type, .mode {
	cursor: pointer;
}

.fix .fixed-nav {
	width: 100%;
	position: fixed;
	height: auto;
	top: 0px;
	z-index: 50;
	background: #FFF;
}

.background {
	position: fixed;
	z-index: 40;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.7)
}
.background .message {
	margin: 120px 0;
	text-align: center;
	color: #EEE
}

.form-control {
	float: right;
	width: 300px;
}

.container {
	display: block;
	width: 1100px;
	margin: auto;
}

#svgHolderT0 {
	display: block;
	width: 1115px;
	margin: auto;
}

.gene_wrap {
	display: block;
	width: 1100px;
	margin: auto;
	overflow: hidden;
	height: 80px;
}

.chr-line {
	display: block;
	width: 1100px;
	margin: auto;
	height: 50px;
}
/* Chromosome-list */
.chr {
	position: relative;
	margin-left: 45px;
	margin-bottom: 5px 
}
.chr-name {
	text-transform: capitalize;
	line-height: 18px;
	position: absolute;
	left: -45px;
	width: 45px 
}
.chr-box { 
	cursor: pointer;
	position: relative;
	min-height: 20px;
	border: 1px solid #7D7D7D;
	border-radius: 3px;
	background-color: #fff;
	background-repeat-X: no-repeat;
	background-size: 100% 100%;
	box-shadow: 0 0 8px rgba(0,0,0,0.1);
	box-sizing: border-box 
}
.chr-box .helper {
	visibility: hidden;
	display: inline-block;;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 11px;
	text-align: center;
	background: rgba(0,0,0,0.7);
	color: #eee;
	position: absolute;
	top: -22px;
	height: 17px;
	border-radius: 3px; 
}
.chr-box:hover {
	border: 1px solid #515151;
	box-shadow: 0 0 12px rgba(0,0,0,0.15); 
}
.chr-box:hover .helper {
	display: block; 
}

.chr {
	margin: 0;
	float: left;
}

.chr-name {
	left: 0px;
	top: -20px;
	right: 0;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
	font-size: 11px;
}

/* Samples. File names */
.hm {
	background-size: 100% 100%;
	background-color: rgba(255, 255, 255, 0.8);
	margin-top: 15px;
}
.hm .fn {
	font-size: 12px;
	line-height: 12px;
	height: 10px;
	position: relative;
	z-index: 10
}
.hm .fn:first-child{
	margin-top: -1px;
}
.hm:hover .fn {
	background: rgba(245,245,245,.8); 
}
.hm .fn:hover {
	background: transparent !important;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	z-index: 15
}
.hm .fn > span {
	height: 16px; 
	position: absolute; 
	left: 0; 
	top: -16px; 
	background: rgba(245,245,245,.8); 
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-radius: 0 3px 0 0; 
	padding: 2px 4px; 
	display: none 
}
.hm .fn:hover > span { 
	display: block; 
}

/* Chromosome */
.ch-zoom {
	overflow: hidden;
	width: 1100px;
	margin: auto;
}

.ch-zoom-scroll {
	cursor: move;
}

.spl-file {
	position: relative;
	height: 12px;
	border-bottom: 1px dotted #eee;
}
.spl-file:hover {
	background: rgba(0,0,0,0.05)
}
.spl, .gene {
	position: absolute;
	line-height: 12px;
	top: 0px;
	font-size: 11px;
	font-family: monospace;
	font-weight: 100;
}
.spl > i {
	display: block;
	float: left;
	width: 3px;
	height: 10px;
	margin: 1px 5px 1px 0;
}
.spl > a {
	text-decoration: none;
	display: none;
	cursor: pointer;
}
.spl > a:hover {
	border-bottom: 1px dotted #337ab7;
}
.spl.t1 > i {
	background: rgba(0, 170, 0, 0.4);
	
}
.spl.t2 > i {
	background: rgba(170, 0, 0, 0.4);
}
.spl.t3 > i {
	background: rgba(0, 0, 170, 0.4);
}
.det-1 .spl > a {
	display: inline-block
}

.cs {
	position: relative;
	margin-bottom: 10px;
	overflow: visible; 
}
.cs .cs-box {
	border: 1px solid #515151;
	box-shadow: 0 0 12px rgba(0,0,0,0.15);
}

#range {
	z-index: 45;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	cursor: crosshair;
}
.lh, .rh { 
	position: absolute; 
	top:0; 
	bottom:0; 
	background: rgba(0,0,0,0.45); 
	z-index: 35 
}
.lh { border-right: 1px solid #000; border-radius: 4px 0 0 4px; left: -1px; }
.rh { border-left:  1px solid #000; border-radius: 0 3px 2px 0; right: 0px; }
.xh { position: absolute; z-index: 10; top:0;bottom:0;left:0;right:0; cursor: pointer }

#cs-xh-F { cursor: text }
#sel-box { position: absolute; z-index: 55; bottom: -1px; top: -1px; display: none; border: 1px solid rgba(0,115,20,0.5); background: rgba(0, 115, 20, 0.3) }

#genes {
	min-height: 21px;
	position: relative;
	
}
#genes .bx {
	position: absolute;
	height: 13px;
	font-size: 11px;
	font-family: monospace;
	font-weight: 100;
}
#genes .bx i {
	position: relative;
	float: left;
	margin: 3px 7px 0px 0;
	background: #eee;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	height: 10px;
}
#genes .bx a {
	text-decoration: none;
}
#genes .bx.exon {
	height: 10px;
	background: rgba(0, 10, 200, 0.5);
}
#genes .bx.gene {
	background: rgba(0,0,0,0.3);
	width: 2px;
	height: 15px;
	top: 3px;
}
#genes .bx.trsk {
	background: #aaa;
	height: 7px;
}
#modal .modal-dialog {
	width: 650px;
}
#modal .tree-dialog {
	width: 700px;
}

#modal .contig_align {
	width: 800px;
}

#modal pre {
	border: none;
	margin-bottom: 0;
}

.tab {
	display: inline-block;
	position: relative;
	width: 50px;
}


/* --------------------------- */

/* General map */
.general_map {
	position: relative;
	display: block;
	margin: auto;
}

.chr_list{
	position: relative;
	width: 1150px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 5px;
}

.map{
	position: absolute;
	top: 250px;
	width: 1150px;
	margin: auto;
}

.map_name{
	cursor: pointer;
	font-size: 13px;
	fill: #000;
}

.map_name:hover {
	fill: #585858;
}

.content_name {
	fill: #A4A4A4;
}

.content_name:hover {
	fill: #08088A;
}

/* Pop up table */
.pop_up {
	position: absolute;
	display: inline-block;
	background: #000;
	color: #fff;
	opacity: 0.5;
	line-height: 120%
	z-index: 1000;
	padding: 3px;
}

.screen_blur {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.3;
	z-index: 999;
}

/* Make group */

.split_group {
	width: 190px;
	height: 160px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #000;
	line-height: 150%;
	background: #fff;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	   	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}

.group_move {
	position: relative;
	width: 50px;
	margin: auto;
	cursor: pointer;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	line-height: 150%;
	border: 1px solid;
	border-radius: 3px;
}

.group_move:hover {
	color: #a2cac2;
}

.gene_name {
	position: absolute;
	height: 20px;
	font-size: 15px;
	text-align: center;
	background: black;
	left: 1500px;
	top: 20px;
	opacity: 0.6;
	z-index: 1000;
}


/* Group compare */
.split_group {
	position: absolute;
	display: inline-block;
	left: 50%;
	margin-left: -300px;
	width: 600px;
	top: 20%;
	height: 230px;
	background: #fff;
	border: 1px solid;
	font-size: 30px;
	line-height: 120%;
	padding: 10px;
	z-index: 1000;
	border-radius: 5px;
}

.group_content {
	position: relative;
	display:block;
	width: 100%;
	height: 100%;
	text-align: center;
	margin-top: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #000;
	line-height: 150%;
	background: #fff;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	   	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}

.group_wrap {
	position: absolute; 
	top: 20px;
	font-size: 20px;
	text-align: center;
}

.status {
	display: inline-block;
	margin-left: 10px;
	width: 150px;
	height: 25px;
	background: url('./loading.gif') left bottom no-repeat;
	background-size: 150px 10px;
	text-align: center;
	visibility: hidden;
}

.TSD {
	display: block;
	position: relative;
	margin: auto;
}

.mini_wrap {
	display: block;
	position: relative;
	margin-right: 10px;
	margin: auto;
	margin-bottom:10px ;
	width: 780px;
	height: 200px;
	overflow: hidden;
}

.mini_browser {
	position: relative;
	left: 0;
	cursor: move;
}

.title {
	position: absolute;
	left: 10px;
	top: 15px;
	font-weight: bold;
	font-size: 10px;
	color: grey;
	background: #fff;
}
.rule {
	height: 24px;
	float: left;
	border-top: 1px solid #999;
	background: #FFF;
}
.rule.k0 {
	background: #F8F8F8;
}
.rule .bp {
	border-left: 1px solid #999;
	box-sizing: border-box;
	height: 14px;
	padding: 0 3px;
	line-height: 13px;
	font-size: 11px;
	font-family: monospace
}
.rule .bp span {
	padding-right: 3px;
}
.rule .r-sub {
	background: #222;
	height: 10px;
}
.rule .r-sub > i, .rule .r-sub > s {
	float: left;
	display: block;
	width: 10%;
	height: 10px;
}
.rule .r-sub > i {
	background: #666;
}
/* Library */
#modal .modal-dialog.library {
	width: 380px;
}
.sample-names {
	margin-bottom: 0;
}
.sample-names li {
	border-radius: 0 !important;
	cursor: pointer;
	border: none;
}
.sample-names li span {
	float: right;
	color: #eee
}
.sample-names li.selected, .sample-names li.loaded {
	background: rgba(0,0,0,0.03)
}
.sample-names li.selected span {
	color: #000
}
.sample-names li.loaded span {
	color: #20B100;
}
.sample-names li:hover {
	background: rgba(0,0,80,0.04)
}

.chr-btn {
	width: 240px;
	padding: 15px;
}

.chr-btn  a {
	cursor: pointer;
	float: left;
	color: grey;
	text-decoration: none;
	width: 50px;
	padding: 5px 0 4px 5px;
	word-spacing: 10px;
	font-size: 13px;
}
.chr-btn a:hover{
	color: #000;
	border-radius: 5px;
	background: #eee;
}

.dropdown-menu{
    min-width: 30px;
}
.dropdown-menu>li>a{
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

/* Detail */
.detail_wrap {
	display: block;
	position: relative;
	overflow: hidden;
	width: 1100px;
	margin: auto;
}

.detail_content {
	position: relative;
	display: block;
	margin-left: -1100px;
	width: 3300px;
}

.samples {
	position:relative;
	width: 3300px;
	cursor: pointer;
}
/* Suggest */
.autocomplete-suggestions {
	border: 1px solid #52c8dc;
	background:#F0F8FF;
    cursor: default;
    overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    outline:inherit;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
}
.autocomplete-suggestion { 
	padding: 2px 5px; 
	white-space: nowrap; 
	overflow: hidden;
}
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #52c8dc; }
.autocomplete-suggestions strong {
	font-weight: bold;
	color: #000;
}
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { 
	font-weight: bold; 
	font-size: 16px; 
	color: #000; 
	display: block; 
	border-bottom: 1px solid #000; 
}

.chipFilHol {
	position: relative;
	display: block;
	height: 6px;
	width: 150px;
	margin: auto;
	border: 1px solid;
	border-radius: 3px;
	background: #bdbdbd;
    background: -webkit-linear-gradient(#d9d9d9, #bdbdbd, #bdbdbd, #d9d9d9); 
    background: -o-linear-gradient(#d9d9d9, #bdbdbd, #bdbdbd, #d9d9d9);
    background: -moz-linear-gradient(#d9d9d9, #bdbdbd, #bdbdbd, #d9d9d9);
    background: linear-gradient(#d9d9d9, #bdbdbd, #bdbdbd, #d9d9d9);
}

.chipFil {
	position: absolute;
	z-index: 1000;
	display: block;
	top: -6px;
	left: 0;
	height: 15px;
	width: 15px;
	margin: auto;
	border: 1px solid;
	background: #fff;
	background: -webkit-radial-gradient(#fff, #d9d9d9);
  	background: -o-radial-gradient(#fff, #d9d9d9);
  	background: -moz-radial-gradient(#fff, #d9d9d9);
 	background: radial-gradient(#fff, #d9d9d9);
	border-radius: 7.5px;
	cursor: pointer;
}

.chipFil:hover {
	background: #9edae5;
	background: -webkit-radial-gradient(#fff, #9edae5);
  	background: -o-radial-gradient(#fff, #9edae5);
  	background: -moz-radial-gradient(#fff, #9edae5);
 	background: radial-gradient(#fff, #9edae5);
}

.chipScore {
	position: relative;
	display: inline-block;
	font-size: 8px;
}

.chipMin {
	position: relative;
	margin-top: -7px;
	margin-left: -17px;
	display: inline-block;
	float: left;
	font-size: 8px;
}

.chipMax {
	position: relative;
	display: inline-block;
	margin-top: -7px;
	float: right;
	margin-right: -20px;
	font-size: 8px;
}

.filter {
	position: relative;
	display: none;
	top: -5px;
	margin-left: 15px;
	width: 150px;
	font-size: 8px;
	text-align: center;
}

